@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*font-family: 'Charis SIL', serif;*/

@font-face {
    font-family: terror;
    src: url('./fonts/aAvocadoTaco.otf') format('opentype'), url('./fonts/aAvocadoTaco.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0 0 0 0;
    padding: 0;
    box-sizing: border-box;
}

#body-pg {
    height: 100vh;
    /*usando em pg que ainda não rolam, para não dar erro no background*/
}

html {
    background-image: linear-gradient(to bottom, rgb(57, 57, 59) 5%, rgb(61, 1, 1));
    background-repeat: no-repeat;
    color: white;

}

body {
    margin: 8px;

}

p {
    margin: 8px;
    text-align: justify;
    text-indent: 20pt;
}

.pcenter {
    text-align: center;

}

div>p {
    text-align: center;
}

.container-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1 {
    width: fit-content;
    padding: 0 20px;
    background-color: yellow;
    text-align: center;
    color: white;
    text-shadow: 4px 2px 4px rgb(61, 1, 1);
    font: normal bolder 3em 'Charis SIL', serif;
}


h2 {
    text-align: center;
    color: rgb(227, 245, 147);
    text-shadow: 2px 2px 3px rgb(119, 88, 29);
    font: normal bolder 1.5em 'Charis SIL', serif;
}

h3 {
    text-align: center;
}

li {
    list-style-position: inside;
}

ul {
    text-align: left;
    margin-left: 8px;
    text-indent: 8px;
    list-style-type: disc;
}

ol {
    text-align: left;
    margin-left: 8px;
    text-indent: 8px;
}

dl {
    margin: 8px;
}

.pre {
    margin: 20px;
}

/*corrigindo as margens do pre*/

pre {
    text-align: justify;
    background-color: brown;
    border-radius: 10px;
    box-shadow: 6px 4px 8px black;
    width: 600px;
    padding: 10px;
    margin: auto;
    color: aqua;
    white-space: pre-wrap;
}

table {
    margin: auto;
}

.th {
    padding: 8px;
}

.tr {
    font-size: small;
    padding: 8px
        /*usado na pagina ancora para deixar a tabela menor*/
}

.thsmall {
    font-size: small;
}

div.img-center {
    text-align: center;

}

a {
    color: wheat;
    font-family: 'Charis SIL', serif;
}

a:visited {
    color: rgb(248, 196, 100);
}

a:hover {
    color: aqua;
}

a:active {
    color: yellowgreen;

}
#next{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#next {
    width: fit-content;
    padding: 0 20px;
    background-color: white;
    margin-left: 80%;
    border-radius: 50%;

}