@charset "UTF-8";
body {
    text-align: center;
    margin: 8px;
}

p {
    margin: 8px;
    text-align: justify;
    text-indent: 20pt;
}

h1 {
    color: red;
}

h2 {
    color: blue
}

li {
    list-style-position: inside;
}

pre {
    background-color: brown;
}
code {
    color: aqua;
}

table {
    margin: auto;

}/*como centralizar a tabela no centro da pagina*/